!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %title Welcome To | Bootstrap Based Admin Template - Material Design

  %body.theme-red
    / Page Loader
    .page-loader-wrapper
      .loader
        .preloader
          .spinner-layer.pl-red
            .circle-clipper.left
              .circle
            .circle-clipper.right
              .circle
        %p Please wait...
    / #END# Page Loader
    / Overlay For Sidebars
    .overlay
    / #END# Overlay For Sidebars
    / Search Bar
    .search-bar
      .search-icon
        %i.material-icons search
      %input{:placeholder => "START TYPING...", :type => "text"}/
      .close-search
        %i.material-icons close
    / #END# Search Bar
    / Top Bar
    %nav.navbar
      .container-fluid
        .navbar-header
          %a.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :href => "javascript:void(0);"}
          %a.bars{:href => "javascript:void(0);"}
          %a.navbar-brand{:href => "index.html"} ADMINBSB - MATERIAL DESIGN
        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            / Call Search
            %li
              %a.js-search{"data-close" => "true", :href => "javascript:void(0);"}
                %i.material-icons search
            / #END# Call Search
            / Notifications
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
                %i.material-icons notifications
                %span.label-count 7
              %ul.dropdown-menu
                %li.header NOTIFICATIONS
                %li.body
                  %ul.menu
                    %li
                      %a{:href => "javascript:void(0);"}
                        .icon-circle.bg-light-green
                          %i.material-icons person_add
                        .menu-info
                          %h4 12 new members joined
                          %p
                            %i.material-icons access_time
                            14 mins ago
                    %li
                      %a{:href => "javascript:void(0);"}
                        .icon-circle.bg-cyan
                          %i.material-icons add_shopping_cart
                        .menu-info
                          %h4 4 sales made
                          %p
                            %i.material-icons access_time
                            22 mins ago
                    %li
                      %a{:href => "javascript:void(0);"}
                        .icon-circle.bg-red
                          %i.material-icons delete_forever
                        .menu-info
                          %h4
                            %b Nancy Doe
                            deleted account
                          %p
                            %i.material-icons access_time
                            3 hours ago
                    %li
                      %a{:href => "javascript:void(0);"}
                        .icon-circle.bg-orange
                          %i.material-icons mode_edit
                        .menu-info
                          %h4
                            %b Nancy
                            changed name
                          %p
                            %i.material-icons access_time
                            2 hours ago
                    %li
                      %a{:href => "javascript:void(0);"}
                        .icon-circle.bg-blue-grey
                          %i.material-icons comment
                        .menu-info
                          %h4
                            %b John
                            commented your post
                          %p
                            %i.material-icons access_time
                            4 hours ago
                    %li
                      %a{:href => "javascript:void(0);"}
                        .icon-circle.bg-light-green
                          %i.material-icons cached
                        .menu-info
                          %h4
                            %b John
                            updated status
                          %p
                            %i.material-icons access_time
                            3 hours ago
                    %li
                      %a{:href => "javascript:void(0);"}
                        .icon-circle.bg-purple
                          %i.material-icons settings
                        .menu-info
                          %h4 Settings updated
                          %p
                            %i.material-icons access_time
                            Yesterday
                %li.footer
                  %a{:href => "javascript:void(0);"} View All Notifications
            / #END# Notifications
            / Tasks
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
                %i.material-icons flag
                %span.label-count 9
              %ul.dropdown-menu
                %li.header TASKS
                %li.body
                  %ul.menu.tasks
                    %li
                      %a{:href => "javascript:void(0);"}
                        %h4
                          Footer display issue
                          %small 32%
                        .progress
                          .progress-bar.bg-pink{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", :role => "progressbar", :style => "width: 32%"}
                    %li
                      %a{:href => "javascript:void(0);"}
                        %h4
                          Make new buttons
                          %small 45%
                        .progress
                          .progress-bar.bg-cyan{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", :role => "progressbar", :style => "width: 45%"}
                    %li
                      %a{:href => "javascript:void(0);"}
                        %h4
                          Create new dashboard
                          %small 54%
                        .progress
                          .progress-bar.bg-teal{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", :role => "progressbar", :style => "width: 54%"}
                    %li
                      %a{:href => "javascript:void(0);"}
                        %h4
                          Solve transition issue
                          %small 65%
                        .progress
                          .progress-bar.bg-orange{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", :role => "progressbar", :style => "width: 65%"}
                    %li
                      %a{:href => "javascript:void(0);"}
                        %h4
                          Answer GitHub questions
                          %small 92%
                        .progress
                          .progress-bar.bg-purple{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", :role => "progressbar", :style => "width: 92%"}
                %li.footer
                  %a{:href => "javascript:void(0);"} View All Tasks
            / #END# Tasks
            %li.pull-right
              %a.js-right-sidebar{"data-close" => "true", :href => "javascript:void(0);"}
                %i.material-icons more_vert
    / #Top Bar
    %section
      / Left Sidebar
      %aside#leftsidebar.sidebar
        / User Info
        .user-info
          .image
            %img{:alt => "User", :height => "48", :src => "images/user.png", :width => "48"}/
          .info-container
            .name{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"} John Doe
            .email john.doe@example.com
            .btn-group.user-helper-dropdown
              %i.material-icons{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown"} keyboard_arrow_down
              %ul.dropdown-menu.pull-right
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.material-icons> person
                    Profile
                %li.divider{:role => "seperator"}
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.material-icons> group
                    Followers
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.material-icons> shopping_cart
                    Sales
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.material-icons> favorite
                    Likes
                %li.divider{:role => "seperator"}
                %li
                  %a{:href => "javascript:void(0);"}
                    %i.material-icons> input
                    Sign Out
        / #User Info
        / Menu
        .menu
          %ul.list
            %li.header MAIN NAVIGATION
            %li.active
              %a{:href => "index.html"}
                %i.material-icons home
                %span Home
            %li
              %a{:href => "pages/typography.html"}
                %i.material-icons text_fields
                %span Typography
            %li
              %a{:href => "pages/helper-classes.html"}
                %i.material-icons layers
                %span Helper Classes
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons widgets
                %span Widgets
              %ul.ml-menu
                %li
                  %a.menu-toggle{:href => "javascript:void(0);"}
                    %span Cards
                  %ul.ml-menu
                    %li
                      %a{:href => "pages/widgets/cards/basic.html"} Basic
                    %li
                      %a{:href => "pages/widgets/cards/colored.html"} Colored
                    %li
                      %a{:href => "pages/widgets/cards/no-header.html"} No Header
                %li
                  %a.menu-toggle{:href => "javascript:void(0);"}
                    %span Infobox
                  %ul.ml-menu
                    %li
                      %a{:href => "pages/widgets/infobox/infobox-1.html"} Infobox-1
                    %li
                      %a{:href => "pages/widgets/infobox/infobox-2.html"} Infobox-2
                    %li
                      %a{:href => "pages/widgets/infobox/infobox-3.html"} Infobox-3
                    %li
                      %a{:href => "pages/widgets/infobox/infobox-4.html"} Infobox-4
                    %li
                      %a{:href => "pages/widgets/infobox/infobox-5.html"} Infobox-5
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons swap_calls
                %span User Interface (UI)
              %ul.ml-menu
                %li
                  %a{:href => "pages/ui/alerts.html"} Alerts
                %li
                  %a{:href => "pages/ui/animations.html"} Animations
                %li
                  %a{:href => "pages/ui/badges.html"} Badges
                %li
                  %a{:href => "pages/ui/breadcrumbs.html"} Breadcrumbs
                %li
                  %a{:href => "pages/ui/buttons.html"} Buttons
                %li
                  %a{:href => "pages/ui/collapse.html"} Collapse
                %li
                  %a{:href => "pages/ui/colors.html"} Colors
                %li
                  %a{:href => "pages/ui/dialogs.html"} Dialogs
                %li
                  %a{:href => "pages/ui/icons.html"} Icons
                %li
                  %a{:href => "pages/ui/labels.html"} Labels
                %li
                  %a{:href => "pages/ui/list-group.html"} List Group
                %li
                  %a{:href => "pages/ui/media-object.html"} Media Object
                %li
                  %a{:href => "pages/ui/modals.html"} Modals
                %li
                  %a{:href => "pages/ui/notifications.html"} Notifications
                %li
                  %a{:href => "pages/ui/pagination.html"} Pagination
                %li
                  %a{:href => "pages/ui/preloaders.html"} Preloaders
                %li
                  %a{:href => "pages/ui/progressbars.html"} Progress Bars
                %li
                  %a{:href => "pages/ui/range-sliders.html"} Range Sliders
                %li
                  %a{:href => "pages/ui/sortable-nestable.html"} Sortable &amp; Nestable
                %li
                  %a{:href => "pages/ui/tabs.html"} Tabs
                %li
                  %a{:href => "pages/ui/thumbnails.html"} Thumbnails
                %li
                  %a{:href => "pages/ui/tooltips-popovers.html"} Tooltips &amp; Popovers
                %li
                  %a{:href => "pages/ui/waves.html"} Waves
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons assignment
                %span Forms
              %ul.ml-menu
                %li
                  %a{:href => "pages/forms/basic-form-elements.html"} Basic Form Elements
                %li
                  %a{:href => "pages/forms/advanced-form-elements.html"} Advanced Form Elements
                %li
                  %a{:href => "pages/forms/form-examples.html"} Form Examples
                %li
                  %a{:href => "pages/forms/form-validation.html"} Form Validation
                %li
                  %a{:href => "pages/forms/form-wizard.html"} Form Wizard
                %li
                  %a{:href => "pages/forms/editors.html"} Editors
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons view_list
                %span Tables
              %ul.ml-menu
                %li
                  %a{:href => "pages/tables/normal-tables.html"} Normal Tables
                %li
                  %a{:href => "pages/tables/jquery-datatable.html"} Jquery Datatables
                %li
                  %a{:href => "pages/tables/editable-table.html"} Editable Tables
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons perm_media
                %span Medias
              %ul.ml-menu
                %li
                  %a{:href => "pages/medias/image-gallery.html"} Image Gallery
                %li
                  %a{:href => "pages/medias/carousel.html"} Carousel
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons pie_chart
                %span Charts
              %ul.ml-menu
                %li
                  %a{:href => "pages/charts/morris.html"} Morris
                %li
                  %a{:href => "pages/charts/flot.html"} Flot
                %li
                  %a{:href => "pages/charts/chartjs.html"} ChartJS
                %li
                  %a{:href => "pages/charts/sparkline.html"} Sparkline
                %li
                  %a{:href => "pages/charts/jquery-knob.html"} Jquery Knob
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons content_copy
                %span Example Pages
              %ul.ml-menu
                %li
                  %a{:href => "pages/examples/sign-in.html"} Sign In
                %li
                  %a{:href => "pages/examples/sign-up.html"} Sign Up
                %li
                  %a{:href => "pages/examples/forgot-password.html"} Forgot Password
                %li
                  %a{:href => "pages/examples/blank.html"} Blank Page
                %li
                  %a{:href => "pages/examples/404.html"} 404 - Not Found
                %li
                  %a{:href => "pages/examples/500.html"} 500 - Server Error
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons map
                %span Maps
              %ul.ml-menu
                %li
                  %a{:href => "pages/maps/google.html"} Google Map
                %li
                  %a{:href => "pages/maps/yandex.html"} YandexMap
                %li
                  %a{:href => "pages/maps/jvectormap.html"} jVectorMap
            %li
              %a.menu-toggle{:href => "javascript:void(0);"}
                %i.material-icons trending_down
                %span Multi Level Menu
              %ul.ml-menu
                %li
                  %a{:href => "javascript:void(0);"}
                    %span Menu Item
                %li
                  %a{:href => "javascript:void(0);"}
                    %span Menu Item - 2
                %li
                  %a.menu-toggle{:href => "javascript:void(0);"}
                    %span Level - 2
                  %ul.ml-menu
                    %li
                      %a{:href => "javascript:void(0);"}
                        %span Menu Item
                    %li
                      %a.menu-toggle{:href => "javascript:void(0);"}
                        %span Level - 3
                      %ul.ml-menu
                        %li
                          %a{:href => "javascript:void(0);"}
                            %span Level - 4
            %li
              %a{:href => "pages/changelogs.html"}
                %i.material-icons update
                %span Changelogs
            %li.header LABELS
            %li
              %a{:href => "javascript:void(0);"}
                %i.material-icons.col-red donut_large
                %span Important
            %li
              %a{:href => "javascript:void(0);"}
                %i.material-icons.col-amber donut_large
                %span Warning
            %li
              %a{:href => "javascript:void(0);"}
                %i.material-icons.col-light-blue donut_large
                %span Information
        / #Menu
        / Footer
        .legal
          .copyright
            © 2016 - 2017
            = succeed "." do
              %a{:href => "javascript:void(0);"} AdminBSB - Material Design
          .version
            %b Version:
            1.0.5
        / #Footer
      / #END# Left Sidebar
      / Right Sidebar
      %aside#rightsidebar.right-sidebar
        %ul.nav.nav-tabs.tab-nav-right{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"data-toggle" => "tab", :href => "#skins"} SKINS
          %li{:role => "presentation"}
            %a{"data-toggle" => "tab", :href => "#settings"} SETTINGS
        .tab-content
          #skins.tab-pane.fade.in.active.in.active{:role => "tabpanel"}
            %ul.demo-choose-skin
              %li.active{"data-theme" => "red"}
                .red
                %span Red
              %li{"data-theme" => "pink"}
                .pink
                %span Pink
              %li{"data-theme" => "purple"}
                .purple
                %span Purple
              %li{"data-theme" => "deep-purple"}
                .deep-purple
                %span Deep Purple
              %li{"data-theme" => "indigo"}
                .indigo
                %span Indigo
              %li{"data-theme" => "blue"}
                .blue
                %span Blue
              %li{"data-theme" => "light-blue"}
                .light-blue
                %span Light Blue
              %li{"data-theme" => "cyan"}
                .cyan
                %span Cyan
              %li{"data-theme" => "teal"}
                .teal
                %span Teal
              %li{"data-theme" => "green"}
                .green
                %span Green
              %li{"data-theme" => "light-green"}
                .light-green
                %span Light Green
              %li{"data-theme" => "lime"}
                .lime
                %span Lime
              %li{"data-theme" => "yellow"}
                .yellow
                %span Yellow
              %li{"data-theme" => "amber"}
                .amber
                %span Amber
              %li{"data-theme" => "orange"}
                .orange
                %span Orange
              %li{"data-theme" => "deep-orange"}
                .deep-orange
                %span Deep Orange
              %li{"data-theme" => "brown"}
                .brown
                %span Brown
              %li{"data-theme" => "grey"}
                .grey
                %span Grey
              %li{"data-theme" => "blue-grey"}
                .blue-grey
                %span Blue Grey
              %li{"data-theme" => "black"}
                .black
                %span Black
          #settings.tab-pane.fade{:role => "tabpanel"}
            .demo-settings
              %p GENERAL SETTINGS
              %ul.setting-list
                %li
                  %span Report Panel Usage
                  .switch
                    %label
                      %input{:checked => "checked", :type => "checkbox"}/
                      %span.lever
                %li
                  %span Email Redirect
                  .switch
                    %label
                      %input{:type => "checkbox"}/
                      %span.lever
              %p SYSTEM SETTINGS
              %ul.setting-list
                %li
                  %span Notifications
                  .switch
                    %label
                      %input{:checked => "checked", :type => "checkbox"}/
                      %span.lever
                %li
                  %span Auto Updates
                  .switch
                    %label
                      %input{:checked => "checked", :type => "checkbox"}/
                      %span.lever
              %p ACCOUNT SETTINGS
              %ul.setting-list
                %li
                  %span Offline
                  .switch
                    %label
                      %input{:type => "checkbox"}/
                      %span.lever
                %li
                  %span Location Permission
                  .switch
                    %label
                      %input{:checked => "checked", :type => "checkbox"}/
                      %span.lever
      / #END# Right Sidebar
    %section.content
      .container-fluid
        .block-header
          %h2 DASHBOARD
        / Widgets
        .row.clearfix
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-pink.hover-expand-effect
              .icon
                %i.material-icons playlist_add_check
              .content
                .text NEW TASKS
                .number.count-to{"data-fresh-interval" => "20", "data-from" => "0", "data-speed" => "15", "data-to" => "125"}
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-cyan.hover-expand-effect
              .icon
                %i.material-icons help
              .content
                .text NEW TICKETS
                .number.count-to{"data-fresh-interval" => "20", "data-from" => "0", "data-speed" => "1000", "data-to" => "257"}
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-light-green.hover-expand-effect
              .icon
                %i.material-icons forum
              .content
                .text NEW COMMENTS
                .number.count-to{"data-fresh-interval" => "20", "data-from" => "0", "data-speed" => "1000", "data-to" => "243"}
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .info-box.bg-orange.hover-expand-effect
              .icon
                %i.material-icons person_add
              .content
                .text NEW VISITORS
                .number.count-to{"data-fresh-interval" => "20", "data-from" => "0", "data-speed" => "1000", "data-to" => "1225"}
        / #END# Widgets
        / CPU Usage
        .row.clearfix
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .card
              .header
                .row.clearfix
                  .col-xs-12.col-sm-6
                    %h2 CPU USAGE (%)
                  .col-xs-12.col-sm-6.align-right
                    .switch.panel-switch-btn
                      %span.m-r-10.font-12 REAL TIME
                      %label
                        OFF
                        %input#realtime{:checked => "checked", :type => "checkbox"}/
                        = succeed "ON" do
                          %span.lever.switch-col-cyan
                %ul.header-dropdown.m-r--5
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
                      %i.material-icons more_vert
                    %ul.dropdown-menu.pull-right
                      %li
                        %a{:href => "javascript:void(0);"} Action
                      %li
                        %a{:href => "javascript:void(0);"} Another action
                      %li
                        %a{:href => "javascript:void(0);"} Something else here
              .body
                #real_time_chart.dashboard-flot-chart
        / #END# CPU Usage
        .row.clearfix
          / Visitors
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .card
              .body.bg-pink
                .sparkline{"data-fill-color" => "rgba(0, 188, 212, 0)", "data-height" => "92px", "data-highlight-line-color" => "#fff", "data-highlight-spot-color" => "rgb(233, 30, 99)", "data-line-color" => "rgba(255,255,255,0.7)", "data-line-width" => "2", "data-max-spot-color" => "rgb(255,255,255)", "data-min-spot-color" => "rgb(255,255,255)", "data-offset" => "90", "data-spot-color" => "rgb(255,255,255)", "data-spot-radius" => "4", "data-type" => "line", "data-width" => "100%"}
                  12,10,9,6,5,6,10,5,7,5,12,13,7,12,11
                %ul.dashboard-stat-list
                  %li
                    TODAY
                    %span.pull-right
                      %b 1 200
                      %small USERS
                  %li
                    YESTERDAY
                    %span.pull-right
                      %b 3 872
                      %small USERS
                  %li
                    LAST WEEK
                    %span.pull-right
                      %b 26 582
                      %small USERS
          / #END# Visitors
          / Latest Social Trends
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .card
              .body.bg-cyan
                .m-b--35.font-bold LATEST SOCIAL TRENDS
                %ul.dashboard-stat-list
                  %li
                    \#socialtrends
                    %span.pull-right
                      %i.material-icons trending_up
                  %li
                    \#materialdesign
                    %span.pull-right
                      %i.material-icons trending_up
                  %li #adminbsb
                  %li #freeadmintemplate
                  %li #bootstraptemplate
                  %li
                    \#freehtmltemplate
                    %span.pull-right
                      %i.material-icons trending_up
          / #END# Latest Social Trends
          / Answered Tickets
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .card
              .body.bg-teal
                .font-bold.m-b--35 ANSWERED TICKETS
                %ul.dashboard-stat-list
                  %li
                    TODAY
                    %span.pull-right
                      %b 12
                      %small TICKETS
                  %li
                    YESTERDAY
                    %span.pull-right
                      %b 15
                      %small TICKETS
                  %li
                    LAST WEEK
                    %span.pull-right
                      %b 90
                      %small TICKETS
                  %li
                    LAST MONTH
                    %span.pull-right
                      %b 342
                      %small TICKETS
                  %li
                    LAST YEAR
                    %span.pull-right
                      %b 4 225
                      %small TICKETS
                  %li
                    ALL
                    %span.pull-right
                      %b 8 752
                      %small TICKETS
          / #END# Answered Tickets
        .row.clearfix
          / Task Info
          .col-xs-12.col-sm-12.col-md-8.col-lg-8
            .card
              .header
                %h2 TASK INFOS
                %ul.header-dropdown.m-r--5
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
                      %i.material-icons more_vert
                    %ul.dropdown-menu.pull-right
                      %li
                        %a{:href => "javascript:void(0);"} Action
                      %li
                        %a{:href => "javascript:void(0);"} Another action
                      %li
                        %a{:href => "javascript:void(0);"} Something else here
              .body
                .table-responsive
                  %table.table.table-hover.dashboard-task-infos
                    %thead
                      %tr
                        %th #
                        %th Task
                        %th Status
                        %th Manager
                        %th Progress
                    %tbody
                      %tr
                        %td 1
                        %td Task A
                        %td
                          %span.label.bg-green Doing
                        %td John Doe
                        %td
                          .progress
                            .progress-bar.bg-green{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "62", :role => "progressbar", :style => "width: 62%"}
                      %tr
                        %td 2
                        %td Task B
                        %td
                          %span.label.bg-blue To Do
                        %td John Doe
                        %td
                          .progress
                            .progress-bar.bg-blue{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
                      %tr
                        %td 3
                        %td Task C
                        %td
                          %span.label.bg-light-blue On Hold
                        %td John Doe
                        %td
                          .progress
                            .progress-bar.bg-light-blue{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "72", :role => "progressbar", :style => "width: 72%"}
                      %tr
                        %td 4
                        %td Task D
                        %td
                          %span.label.bg-orange Wait Approvel
                        %td John Doe
                        %td
                          .progress
                            .progress-bar.bg-orange{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar", :style => "width: 95%"}
                      %tr
                        %td 5
                        %td Task E
                        %td
                          %span.label.bg-red Suspended
                        %td John Doe
                        %td
                          .progress
                            .progress-bar.bg-red{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "87", :role => "progressbar", :style => "width: 87%"}
          / #END# Task Info
          / Browser Usage
          .col-xs-12.col-sm-12.col-md-4.col-lg-4
            .card
              .header
                %h2 BROWSER USAGE
                %ul.header-dropdown.m-r--5
                  %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
                      %i.material-icons more_vert
                    %ul.dropdown-menu.pull-right
                      %li
                        %a{:href => "javascript:void(0);"} Action
                      %li
                        %a{:href => "javascript:void(0);"} Another action
                      %li
                        %a{:href => "javascript:void(0);"} Something else here
              .body
                #donut_chart.dashboard-donut-chart
          / #END# Browser Usage
   